.upper {
    text-transform: uppercase;
}

.medium {
    font-weight: 500;
}

.semi {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.extra {
    font-weight: 800;
}

.black {
    font-weight: 900;
}

h5 {
    font-weight: 400;
}

label {
    font-size: 12px;
}

.btn-primary {
    border-radius: 0;
    text-transform: uppercase;
    padding: 8px 24px;
    background: $roxo;
    border-color: $roxo;
    &:hover,
    &:active,
    &:focus,
    &:active &:focus {
        background: $azul;
        border-color: $azul;
        outline: none;
        box-shadow: none;
    }
}

.btn-secondary {
    background: $red;
    border: 0;
    border-radius: 0;
    .fa {
        position: relative!important;
        right: auto!important;
        top: auto!important;
        font-size: 16px!important;
        color: #f5f6fa!important;
    }
    &:hover,
    &:active,
    &:focus,
    &:active &:focus {
        outline: none;
        box-shadow: none;
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@media screen and (min-width: $xs) {
    body {
        font-family: 'Inter', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: hsla(0, 0%, 0%, 0.7);
        background: #F5F6FA;
    }
    #header {
        background-image: url('../../assets/images/blob.svg');
        background-position: top right;
        background-repeat: no-repeat;
        min-height: 100vh;
        header {
            .row {
                min-height: calc(100vh - 90px);
            }
            #login {
                background: white;
                padding: 30px 24px 50px 24px;
                border: 1px solid rgba(0, 0, 0, .125);
                border-radius: .25rem;
            }
        }
    }
    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        background: white;
    }
    nav {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: #000000de;
                    &:hover,
                    &:active,
                    &:focus,
                    &:active &:focus {
                        color: $azul;
                    }
                }
            }
        }
    }
    .card {
        .fa {
            position: absolute;
            right: 15px;
            top: 15px;
            font-size: 24px;
            color: #f5f6fa;
        }
        .card-text {
            font-size: 14px;
        }
    }
    .accordion {
        .card {
            .card-header {
                display: flex;
                padding: 8px 15px;
                align-items: center;
                justify-content: space-between;
                border: 0;
                background: $white;
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
    .balao span {
        display: block;
        background: #FFFFFF;
        border-radius: 4px;
        padding: 13px 24px;
        padding-right: 69px;
        position: relative;
        word-wrap: break-word;
        border: 1px solid rgba(0, 0, 0, .125);
        color: hsla(0, 0%, 0%, 0.7);
    }
    #chat {
        .form-group:last-child {
            -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-name: slideInUp;
            animation-name: slideInUp;
        }
    }
    #chatUser {
        .form-group:last-child .balao {
            -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-name: slideInUp;
            animation-name: slideInUp;
        }
    }
}

@media screen and (min-width: $sm) {}

@media screen and (min-width: $md) {}

@media screen and (min-width: $lg) {}

@media screen and (min-width: $xl) {}